@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <h1>Добро пожаловать!</h1>
    <p class="lead">Вы находитесь в тестовой программе, отвечающей за автоматизацию процесса подачи вагонов на Ново-Кемеровской ТЭЦ.</p>
    <p>Данная программа была созданна при помощи технологий ASP.Net и EntityFramework.</p>
    <p>Чтобы начать пользоваться системой, пожалуйста, пройдите авторизацию.</p>
</div>